body{
    border-left:1px solid black; 
    border-right:1px solid black; 
}

.icon
{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.upperdiv
{
    height: 25%;
    width: 100%;    
   
    padding-top: 2%;
}

h3
{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    font-size: 25px;
    font-weight: normal;
}

.highlight
{
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
    
}

.bottomMargin
{
    margin-bottom: 10px;
   
}

a
{
    font-size: 15px;
    color: black;
}

.vido
{
max-width: 90%;
max-height: 80%;
padding-top: 20px;
padding-left: 0px;
}


.overlay {
    position:absolute;
    top: 0;
    bottom: 200px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: visible;
    
}
.overlay2 {
    position:absolute;
    top: 0;
    bottom: 100px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: visible;
    
}

.smallVideo
{
max-width: 40%;
max-height: 80%;
padding: 2%;
}

.text
{
    max-width: 90%;
    max-height: 10%;
    padding-top: 5px;
    padding-left: 30px;
    text-align: center;
}

.smallDiv
{
max-width: 20%;
max-height: 10%;
text-align: left;
margin-left: 25px;
margin-top: 20px;
color: white;
background-color: darkgray;
padding: 3px;

}

.smallDivB
{
max-width: 20%;
max-height: 20%;
text-align: left;
margin-left: 10px;
margin-top: 0px;
background-color: darkgray;
padding-left:3px;
color: white;
}

.smallText
{  float: right;
    max-width: 60%;
    max-height: 80%;
    padding-left: 0px;;
    padding-top: 2%;
    
}

a[href="#1"]:hover
{
 text-decoration: none;

}



.nonhighlightText
{  float: right;
    max-width: 90%;
    max-height: 90%;
    padding-top: 1%;
    
}


.footer
{
    width: 100%;
    padding-left: 10px;
    display: inline;
}

.play-button {
    height: 50px;
    width: 60px;    
    background-color: rgba(83, 81, 81, 0.7);
    border-radius:50%;
    position: relative;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}


small
{
    color: white;
}